NODE_ENV=development
MONGO_URI=yourUri
SALTROUNDS=yourSaltrounds
AT_KEY=your256BitsAtkey
GOOGLE_SHEET_ID=yourGoogleSheetId
GOOGLE_SHEET_NAME=Sheet0
FOLDER_PATH=yourFolderPath
REDIS_HOST=localhost
REDIS_PORT=6379
DOTMART_FILE=DotMart.exe
POS_FILE=PdvFX.exe
FORCE_JSON=force.json